div#app {
    display: grid;
    grid-template-columns: 15% 1fr 1fr;
    grid-auto-rows: minmax(33px, auto);
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

#header {
    grid-column: 1 / 4;
    grid-row: 1 / 5;
    display: grid;
    grid-template-columns: 15% 1fr 1fr;
    border-bottom: 1px solid black;
}

#header h1 {
    margin: 0;
    grid-column: 2;
    align-self: flex-end;
}

#hole-punches {
    position: absolute;
    height: 100%;
    width: 14%;
    border-right: 1px solid red;
    border-bottom: 1px solid black;
}

#todo-list {
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.todo-item {
    display: grid;
    grid-template-columns: 12% 1fr;
    grid-auto-rows: 36px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    align-items: flex-end;
}

.delete-todo {
    text-align: center;
    color: red;
}

.todo-item form {
    display: contents;
}

#todo-input {
    grid-column: 2;
    align-self: stretch;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

#submit {
    grid-column: 1;
    grid-row: 1;
    align-self: stretch;
}

.strikethrough {
    text-decoration: line-through;
}